.products{
  &__hero, &__vendre, &__boutique, .contact__content{
    padding: 70px 70px 80px;
    max-width: 980px;
    margin: 0 auto;
  }
  .title{
    font-size: em(36);
  }
  &__hero{
    justify-content: space-between;
    .hero{
      &__all{
        padding-top: 50px;
      }
      &__all::before{
        top:-30%;
        right: -10%;
        display: inline-block;
        background-color: $color_blue;
        content: "";
        width: 500px;
        height: 500px;
        border-radius: 50%;
        position: absolute;
      }
      &__content{
        z-index: 10;
        position: relative;
        align-self: center;
        max-width: 470px;
        margin-right: em(40);
      }
      &__part1{
        margin-bottom: 3em;
      }
      &__fig, &__img{
        z-index: 10;
        border-radius: 15px;
        max-width: 450px;
        max-height: 400px;
      }
      &__img{
        object-fit: cover;
      }
      &__title{
        margin-bottom: em(15);
      }
      &__principaltitle{
        z-index: 10;
        font-size: em(30);
        margin-bottom: em(15);
        line-height: 1.2em;
      }
    }
  }
  &__vendre{
    .vendre {
      &__principaltitle{
        font-size: em(30);
        margin-bottom: em(22.23);
        line-height: 1.2em;
      }
      &__title{
        position: absolute;
        max-width: 220px;
        height: 185px;
        text-align: center;
        min-width: 220px;
        justify-content: center;
        align-items: end;
        z-index: 11;
      }
      &__content{
        margin-right: em(40);
      }
      &__regroup {
        margin-bottom: em(50);
        justify-content: space-between;
      }
      &__img {
        width: 220px;
        height: 230px;
        object-fit: cover;
        border-radius: 15px;
      }
      &__fig::before {
        margin-top: 115px;
        max-height: 115px;
        content: '';
        z-index: 10;
        width: 100%;
        height: 50%;
        display: block;
        position: absolute;
        background-color: white;
        border-radius: 0 0 15px 15px;
      }
      &__fig, &__fig::before {
        max-width: 220px;
      }
      &__fig{
        border-radius: 15px;
        max-height: 230px;
        box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.05);
      }
    }
  }
  &__boutique{
    .boutique{
      &__principaltitle{
        font-size: em(30);
        margin-bottom: em(22.23);
        line-height: 1.2em;
      }
      &__fig, &__img{
        border-radius: 15px;
        max-width: 450px;
        max-height: 400px;
      }
      &__img{
        object-fit: cover;
      }
      &__fig{
        margin-right: em(40);
      }
      &__text{
        max-width: 400px;
        min-width: 200px;
      }
      &__content{
        justify-content: space-between;
      }
      &__p{
        align-self: center;
      }
    }
  }
  &__contact{
    align-items: center;
    .contact{
      align-items: center;
      &__content{
        max-width: 400px;
        text-align: center;
        align-items: center;
      }
      &__text{
        margin-bottom: em(40);
      }
      &__wrapper:hover{
        a{
          color: $color_yellow;
        }
        cursor: pointer;
        border: $color_yellow solid 1px;
        background-color: white;
        color: $color_yellow;
        transition-duration: .4s;
      }
      &__wrapper{
        height: 50px;
        width: 200px;
        border-radius: 15px;
        background-color: $color_yellow;
        justify-content: center;
      }
      &__link{
        align-self: center;
        color:white;
        padding: em(10);
      }
    }
  }
  @media screen and (max-width: 990px){
    &__hero, &__vendre, &__boutique, .contact__content{
      padding: 70px 30px 60px;
      max-width: 780px;
    }
    .title{
      font-size: em(32);
    }
    &__hero{
      justify-content: space-between;
      .hero{
        &__intro{
          margin-bottom: 2em;
        }
        &__content{
          z-index: 10;
          position: relative;
          align-self: center;
          max-width: 400px;
          margin-right: em(40);
        }
        &__part1{
          margin-bottom: 3em;
        }
        &__fig, &__img{
          max-width: 350px;
          max-height: 300px;
        }
      }
    }
    &__vendre{
      .vendre {
        &__title{
          max-width: 190px;
          height: 185px;
          min-width: 190px;
        }
        &__content{
          margin-right: em(30);
        }
        &__regroup {
          margin-bottom: em(30);
        }
        &__more {
          margin-right: em(30);
        }

        &__img {
          width: 190px;
          height: 200px;
        }
        &__fig, &__fig::before {
          max-width: 190px;
        }
        &__fig{
          max-height: 200px;
        }
      }
    }
    &__boutique{
      .boutique{
        &__fig, &__img{
          max-width: 350px;
          max-height: 300px;
        }
        &__img{
          margin-bottom: 2em;
        }
      }
    }
    &__contact{
      .contact{
        &__content{
          max-width: 400px;
        }
      }
    }
  }
  @media screen and (max-width: 769px){
    &__hero, &__vendre, &__boutique, .contact__content{
      padding: 70px 30px 60px;
      max-width: 450px;
    }
    .title{
      font-size: em(26);
      line-height: 1.4em;
    }
    &__hero{
      justify-content: space-between;
      .hero{
        &__all{
          flex-direction: column;
        }
        &__content{
          max-width: 400px;
        }
        &__part1{
          margin-bottom: 3em;
        }
        &__fig, &__img{
          max-width: 400px;
          max-height: 350px;
        }
      }
    }
    &__vendre{
      .vendre {
        &__principaltitle{
          font-size: em(26);
        }
        &__title{
          height: 185px;
          min-width: 190px;
        }
        &__content{
          margin-right: em(30);
        }
        &__regroup {
          flex-direction: column;
          margin-bottom: em(30);
        }
        &__wrapper{
          align-self: end;
        }
      }
    }
    &__boutique{
      .boutique{
        &__content{
          flex-direction: column;
        }
        &__fig, &__img{
          max-width: 400px;
          max-height: 350px;
        }
      }
    }
    &__contact{
      .contact{
        &__content{
          max-width: 400px;
        }
      }
    }
  }
  @media screen and (max-width: 479px){

    &__hero, &__vendre, &__boutique, .contact__content{
      padding: 70px 30px 60px;
      max-width: 300px;
    }
    &__hero{
      justify-content: space-between;
      .hero{
        &__all{
          flex-direction: column;
        }
        &__content{
          max-width: 300px;
        }
        &__part1{
          margin-bottom: 3em;
        }
        &__fig, &__img{
          max-width: 300px;
          max-height: 250px;
        }
      }
    }
    &__vendre{
      .vendre {
        &__title{
          height: 185px;
          min-width: 190px;
        }
      }
    }
    &__boutique{
      .boutique{
        &__content{
          flex-direction: column;
        }
        &__fig, &__img{
          max-width: 300px;
          max-height: 250px;
        }
      }
    }
    &__contact{
      .contact{
        &__content{
          max-width: 300px;
        }
      }
    }

  }
}