.soutiens{
  &__hero, .contact__content, &__singleSoutien{
    padding: 70px 70px 80px;
    max-width: 1080px;
    margin: 0 auto;
  }
  &__title{
    font-size: em(36);
  }
  &__hero{
    padding-bottom: 0;
    justify-content: space-between;
    .hero{
      &__all{
        width: 100%;
        justify-content: space-between;
        padding-top: 50px;
      }
      &__all::before{
        top:-30%;
        right: -10%;
        display: inline-block;
        background-color: $color_green;
        content: "";
        width: 500px;
        height: 500px;
        border-radius: 50%;
        position: absolute;
      }

      &__principaltitle{
        z-index: 10;
        position: relative;
        font-size: em(36);
        margin-bottom: em(22.23);
        line-height: 1.4em;
      }
      &__content{
        z-index: 10;
        position: relative;
        align-self: center;
        max-width: 470px;
        margin-right: em(40);
      }
      &__fig, &__img{
        z-index: 10;
        position: relative;
        max-width: 350px;
        min-width: 350px;
        max-height: 350px;
        min-height: 350px;
        border-radius: 15px;
      }
      &__img{
        object-fit: cover;
      }
    }
  }
  &__singleSoutien{
    .singleSoutien{
      &__article{
          background-color: white;
      }
      &__all{
        max-width: 100%;
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
                  "four four"
                  "one two"
                  "three five"
      }
      &__article:nth-child(1){
        grid-area: one;
      }
      &__article:nth-child(2){
        grid-area: two;
      }
      &__article:nth-child(3){
        grid-area: three;
      }
      &__article:nth-child(1), &__article:nth-child(2), &__article:nth-child(3){
        margin-bottom: em(40);
        min-height: 100px;
        border-radius: 15px;
        padding: 30px 30px;
        min-width: 400px;
        max-width: 400px;
        box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.05);
        .singleSoutien{
          &__principaltitle{
            margin-bottom: em(22.23)
          }
          &__title{
            font-size: em(20);
            margin-bottom: 1em;
          }
        }
      }
      &__article:nth-child(4){
        justify-content: space-between;
        grid-area: four;
        width: 100%;
        .singleSoutien{
          &__title{
            font-size: em(20);
            margin-bottom: 1em;
          }
          &__content{
            max-width: 500px;
            align-self: center;
          }
          &__fig, &__img{
            max-width: 350px;
            max-height: 350px;
            min-height: 350px;
            border-radius: 15px;
          }
          &__img{
            object-fit: cover;
          }
          &__fig{
            margin-right: em(40);
          }
        }
      }
    }
  }
  &__contact{
    align-items: center;
    .contact{
      align-items: center;
      &__content{
        max-width: 400px;
        text-align: center;
        align-items: center;
      }
      &__text{
        margin-bottom: em(40);
      }
      &__wrapper{
        height: 50px;
        width: 200px;
        border-radius: 15px;
        background-color: $color_yellow;
        justify-content: center;
      }
      &__link{
        align-self: center;
        color:white;
        padding: em(10);
      }
    }
  }
  @media screen and (max-width: 990px){
    &__hero, .singleSoutien__all, .contact__content{
      max-width: 780px;
    }
    &__title{
      font-size: em(32);
    }
    &__hero{
      justify-content: space-between;
      padding-bottom: 30px;
      .hero{
        &__content{
          max-width: 380px;
          margin-right: 0;
          margin-bottom: 2em;
        }
        &__fig, &__img{
          max-width: 300px;
          min-width: 300px;
          max-height: 300px;
          min-height: 300px;
        }
      }
    }
    &__singleSoutien{
      .singleSoutien{
        &__article:nth-child(1), &__article:nth-child(2), &__article:nth-child(3){
          margin-bottom: em(40);
          min-height: 100px;
          border-radius: 15px;
          padding: 20px 20px;
          min-width: 270px;
          max-width: 270px;
        }
        &__article:nth-child(4){
          max-width: 100%;
          grid-area: four;
          margin-bottom: 2em;
          .singleSoutien{
            &__fig, &__img{
              max-width: 250px;
              max-height: 250px;
              min-width: 250px;
              min-height: 250px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 769px){
    &__hero, .singleSoutien__all, .contact__content{
      padding-right: 40px;
      padding-left: 40px;
      max-width: 450px;
    }
    .title{
      font-size: em(26);
    }
    &__hero{
      justify-content: space-between;
      .hero{
        &__all{
          flex-direction: column;
        }
        &__content{
          max-width: 380px;
        }
        &__fig, &__img{
          max-width: 450px;
          min-width: 450px;
          max-height: 450px;
          min-height: 450px;
        }
      }
    }
    &__singleSoutien{
      .singleSoutien{
        &__all{
          grid-template-areas:
                  "four"
                  "one"
                  "two"
                  "three"
                  "five";
        }
        &__article:nth-child(1), &__article:nth-child(2), &__article:nth-child(3){
          margin-bottom: em(40);
          min-height: 100px;
          border-radius: 15px;
          padding: 20px 20px;
          min-width: 360px;
          max-width: 360px;
        }
        &__article:nth-child(4){
          flex-direction: column-reverse;
          justify-content: space-between;
          grid-area: four;
          .singleSoutien{
            &__fig{
              margin-bottom: 2em;
              margin-right: 0;
            }
            &__content{
              max-width: 100%;
              align-self: center;
            }
            &__fig, &__img{
              max-width: 450px;
              max-height: 450px;
              min-height: 450px;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 479px){
    .soutiens__singleSoutien{
      padding: 70px 10px 80px;
    }
    &__hero, .singleSoutien__all, .contact__content{
      padding-right: 20px;
      padding-left: 20px;
      max-width: 300px;
    }
    .title{
      font-size: em(26);
    }
    &__hero{
      justify-content: space-between;
      .hero{
        &__all{
          flex-direction: column;
        }
        &__content{
          max-width: 300px;
        }
        &__fig, &__img{
          max-width: 300px;
          min-width: 300px;
          max-height: 300px;
          min-height: 300px;
        }
      }
    }
    &__singleSoutien{
      .singleSoutien{
        &__all{
          grid-template-areas:
                  "four"
                  "one"
                  "two"
                  "three"
                  "five";
        }
        &__article:nth-child(1), &__article:nth-child(2), &__article:nth-child(3){
          min-width: 260px;
          max-width: 260px;
        }
        &__article:nth-child(4){
          flex-direction: column-reverse;
          justify-content: space-between;
          grid-area: four;
          .singleSoutien{
            &__fig{
              margin-bottom: 2em;
              margin-right: 0;
            }
            &__content{
              max-width: 100%;
              align-self: center;
            }
            &__fig, &__img{
              max-width: 300px;
              max-height: 300px;
              min-height: 300px;
            }
          }
        }
      }
    }
  }
}