body{
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  color: $color_font;
  background-color: white;
  overflow-x: hidden;
}
a:visited, a:hover, a:active, a   {
  color: $color_font;
}
a:hover, a:active  {
  font-weight: bolder;
  transition: ease-in-out .5s;
}
a{
  text-decoration: none;
}
.title, h2, h3{
  font-family: "p22-mackinac-pro", serif;
}
.hidden{
  position: absolute;
  opacity: 0;
  left: 9999px;
}
.bold {
  font-weight: bold;
}
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.background-blue{
  background-color: $color_backgroundBlue;
}

@keyframes scrollTxt {
  0%{
    transform: translate(100%);
  }
  100%{
    transform: translate(0%);
  }
}
