body{
  font-family: "roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  color: $color_font;
  background-color: white;
  overflow-x: hidden;
}
a:visited, a:hover, a:active, a   {
  color: $color_font;
}
a:hover, a:active  {
  font-weight: normal;
  transition: ease-in-out .5s;
}
a{
  text-decoration: none;
}
.title, h2, h3{
  font-family: "p22-mackinac-pro", serif;
}
.hidden{
  position: absolute;
  opacity: 0;
  left: 9999px;
}
.bold {
  font-weight: bold;
}
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: $color_green;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
}
.background-blue{
  background-color: $color_backgroundBlue;
}
.rect{
  display: inline-block;
  height: 18px;
}
.rect_blue{
  border-bottom: $color_blue 10px solid;
}
.rect_yellow{
  border-bottom: $color_yellow 10px solid;
}
.rect_green{
  border-bottom: $color_green 10px solid;
}
.rect_violet{
  border-bottom: $color_violet 10px solid;
}
.more{
  transition: font-weight .4s ease-in-out;
  font-weight: normal;
  text-transform: uppercase;

}
.more:hover::after{
  transform: translateX(3px);
}
.more::after{
  transition: transform 0.3s ease;
  content:url('../img/svg/fleche-droite.svg');
  top: 7px;
  z-index: 2;
  position: relative;
  right: -18px;
  display: inline-block;
  width: 24px;
}
.arrow_droite::after{
  content:url('../img/svg/fleche-droite.svg');
  top: 7px;
  z-index: 2;
  position: relative;
  right: -18px;
  display: inline-block;
  width: 24px;
}
.arrow{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  width: 60px;
  align-self:center;
  &_bubble-g{
    display: inline-block;
    left:5px;
    bottom:17px;
    background-color: $color_yellow;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
  &_bubble-d{
    display: inline-block;
    left:5px;
    bottom:17px;
    background-color: $color_yellow;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }
}
.arrow_gauche::after{
  content:url('../img/svg/fleche-droite.svg');
  rotate: -180deg;
  top: 7px;
  z-index: 2;
  position: relative;
  right: -18px;
  display: inline-block;
  width: 24px;
}
.arrow_droite::after{
  content:url('../img/svg/fleche-droite.svg');
  rotate: 0deg;
  top: 15px;
  right: 7px;
  z-index: 2;
  position: relative;
  display: inline-block;
  width: 24px;
}


.bubble_yellow::before{
  top: -23px;
  right: -130px;
  display: inline-block;
  background-color: $color_yellow;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}.bubble_blue::before{
   top: -23px;
   right: -130px;
   display: inline-block;
   background-color: $color_blue;
   content: "";
   width: 25px;
   height: 25px;
   border-radius: 50%;
   position: relative;
 }
.bubble_violet::before{
  top: -23px;
  right: -130px;
  display: inline-block;
  background-color: $color_violet;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}
@keyframes scrollTxt {
  0%{
    transform: translate(100%);
  }
  100%{
    transform: translate(0%);
  }
}
.js-enabled .slide-in {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.js-enabled .slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

@keyframes floating{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0px);
  }
}