.category{
  &__hero, &__gallery{
    padding: 70px 70px 80px;
    max-width: 980px;
    margin: 0 auto;
  }
  &__title{
    font-size: em(36);
  }
  &__hero{
    justify-content: space-between;
    .hero{
      &__principaltitle{
        font-size: em(36);
        margin-bottom: em(22.23);
        line-height: 1.4em;
      }
      &__content{
        align-self: center;
        max-width: 470px;
        margin-right: em(40);
      }
      &__fig, &__img{
        max-width: 350px;
        min-width: 350px;
        max-height: 350px;
        min-height: 350px;
        border-radius: 15px;
      }
      &__img{
        object-fit: cover;
      }
    }
  }
  &__gallery{
    .gallery{
      &__wrapper{
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &__fig, &__img{
        max-width: 200px;
        min-width: 200px;
        max-height: 200px;
        min-height: 200px;
        border-radius: 15px;
      }
      &__fig{
        margin-right: 2em;
        margin-bottom: 1em;
      }
      &__img{
        object-fit: cover;
      }
      &__principaltitle{
        font-size: em(30);
        margin-bottom: em(22.23);
        line-height: 1.4em;
      }
    }
  }
  &__contact{
    align-items: center;
    .contact{
      align-items: center;
      &__content{
        max-width: 400px;
        text-align: center;
        align-items: center;
      }
      &__text{
        margin-bottom: em(40);
      }
      &__wrapper{
        height: 50px;
        width: 200px;
        border-radius: 15px;
        background-color: $color_yellow;
        justify-content: center;
      }
      &__link{
        align-self: center;
        color:white;
        padding: em(10);
      }
    }
  }
}