.service{
  &__presentation, &__equipe, &__actualite{
    padding: 70px 70px 80px;
    max-width: 980px;
    margin: 0 auto;
  }
  .title{
    font-size: em(36);
  }
  &__presentation{
    justify-content: space-between;
    .presentation1{
      &__all{
        padding-top: 40px;
      }
      &__all::before{
        top: 5%;
        left:-10%;
        display: inline-block;
        background-color: $color_yellow;
        content: "";
        width: 500px;
        height: 500px;
        border-radius: 50%;
        position: absolute;
      }
      &__all::after{
        top:-30%;
        right: -10%;
        display: inline-block;
        background-color: $color_blue;
        content: "";
        width: 500px;
        height: 500px;
        border-radius: 50%;
        position: absolute;
      }
      &__content{
        margin-bottom: em(50);
      }
      &__wrapper{
        position: relative;
        z-index: 10;
        max-width: 470px;
        margin-right: em(50);
      }
      &__title--1, &__title--2{
        line-height: 1.4em;
        margin-bottom: .6em;
      }
      &__fig, &__img{
        border-radius: 10px;
        max-width: 450px;
        max-height: 400px;
      }
      &__fig{
        position: relative;
        z-index: 10;
      }
      &__img{
        object-fit: cover;
      }
    }
    .presentation2{
      &__content{
        margin-bottom: em(50);
      }
      &__wrapper{
        max-width: 470px;
        margin-left: em(50);
      }
      &__title--1, &__title--2{
        line-height: 1.4em;
        margin-bottom: .6em;
      }
      &__fig, &__img{
        border-radius: 10px;
        max-width: 450px;
        max-height: 400px;
      }
      &__img{
        object-fit: cover;
      }
    }
  }
  &__equipe{
    .equipe{
      &__principaltitle{
        margin-bottom: em(22.23);
      }
      &__fig, &__img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }
      &__img{
        object-fit: cover;
      }
      &__wrapper{
        flex-wrap: wrap;
      }
      &__content{
        margin-right: 2em;
      }
    }
  }

  @media screen and (max-width: 990px){
    &__presentation, &__equipe, &__actualite{
      padding: 70px 30px 60px;
      max-width: 780px;
    }
    .title{
      font-size: em(32);
    }
    &__presentation{
      .presentation1{
        &__content{
          margin-bottom: em(50);
        }
        &__wrapper{
          max-width: 400px;
        }
        &__fig, &__img{
          max-width: 350px;
          max-height: 300px;
        }
      }
      .presentation2{
        &__wrapper{
          max-width: 400px;
        }
        &__fig, &__img{
          max-width: 350px;
          max-height: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 769px){
    &__presentation, &__equipe,  &__actualite{
      padding: 70px 20px 30px;
      max-width: 450px;
    }
    .title{
      font-size: em(26);
    }
    &__presentation{
      .presentation1{
        &__all{
          flex-direction: column;
        }
        &__all::before{
          top: 5%;
          left:-50%;
        }
        &__all::after{
          top:-30%;
          right: -50%;
        }
        &__content{
          margin-bottom: em(50);
        }
        &__wrapper{
          max-width: 400px;
        }
        &__fig, &__img{
          max-width: 430px;
          max-height: 400px;
        }
      }
      .presentation2{
        &__all{
          flex-direction: column-reverse;
        }
        &__wrapper{
          max-width: 400px;
          margin-left:0;
        }
        &__fig, &__img{
          max-width: 350px;
          max-height: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 479px){
    &__presentation, &__equipe, &__actualite{
      padding: 70px 20px 30px;
      max-width: 300px;
    }
    .title{
      font-size: em(26);
      line-height: 1.6em;
    }
    &__presentation{
      .presentation1{
        &__all::before{
          top: 15%;
          left:-70%;
        }
        &__all::after{
          top:-30%;
          right: -70%;
        }
        &__wrapper{
          max-width: 300px;
        }
        &__fig, &__img{
          max-width: 300px;
          max-height:250px;
        }
      }
      .presentation2{
        &__wrapper{
          max-width: 300px;
          margin-left:0;
        }
        &__fig, &__img{
          max-width: 300px;
          max-height:250px;
        }
      }
    }
  }
}